@import './reset.css';
@import './global.scss';

// Usage example:
body {
  background-color: $background-color;
  color: $text-color;
}

// Additional styles using the color palette
.button {
  background-color: $secondary-color;
  color: white;
  &:hover {
    background-color: darken($secondary-color, 10%);
  }
}

.alert {
  background-color: $warning-color;
  color: white;
}

// Add more styles as needed using the defined color variables
