.product-list {
  display: flex;
  flex-wrap: wrap;
  //gap: 16px;
  justify-content: space-between;
  width: 75%;
}

.product-card {
  width: calc(25% - 16px);
  height: 25vh;
  box-sizing: border-box;
  margin-bottom: 2em;
  &:nth-child(4n) {
    margin-right: 0; // Remove right margin for every 4th product card
  }
}
